html,
body {
  width: 100vw;
  height: 100vh;
}

/* ------------------------------------------------------- main.js and update.js ------------------------------------------------------- */

.main {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px auto 50px;
}

/* ------------------------------------------------------------- header.js ------------------------------------------------------------- */

header {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #d5f0ff;
  display: flex;
  flex-wrap: wrap;
}

.logo {
  position: relative;
  left: 2.55%;
  top: 0%;
  width: 77.4px;
  height: 90px;
  background-image: url("logo.png");
  background-size: 77.4px 90px;
}

/* ---------------------------------------------------------- currentDate.js ---------------------------------------------------------- */

.div-date {
  position: absolute;
  right: 1.04%;
  top: 45%;
  font-family: "Assistant";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  color: rgb(39, 71, 120);
}

/* ------------------------------------------------------- update.js and body.js ------------------------------------------------------ */

.body-main,
.body-update {
  position: relative;
  display: flex;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  min-height: 595px;
  justify-content: center;
  align-content: center;
}

.body-main {
  flex-direction: row;
}

.body-update {
  flex-direction: column;
}

/* --------------------------------------------------------- checkboxComp.js --------------------------------------------------------- */

.div-checkboxComp {
  height: 480px;
  box-shadow: inset -2px 2px 7px rgba(0, 0, 0, 0.28);
  overflow-y: auto;
  direction: rtl;
  width: 500px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: auto;
}

.internalDivBody {
  direction: ltr;
}

/* -------------------------------------------------- instruction.js and compare.js -------------------------------------------------- */

.text,
.div-compare {
  display: flex;
  margin: auto;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  font-weight: 400;
  font-size: 60px;
  color: #000000;
  max-width: 595px;
  text-align: center;
}

.text {
  line-height: 84px;
  min-height: 252px;
}

.div-compare {
  line-height: 50px;
  min-height: 520px;
}

.textBold {
  font-weight: bold;
}

/* ---------------------------------------------------------- compare.js ---------------------------------------------------------- */

.compareEmployees {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.div-Vs {
  width: 30%;
}

.differenceSalaryUp,
.differenceSalaryDown {
  font-size: 18px;
  position: absolute;
}

.differenceSalaryUp {
  font-weight: 700;
  left: 37.5%;
}

.differenceSalaryDown {
  left: 35%;
}

/* ------------------------------------------------------------ most.js ------------------------------------------------------------ */

.span-whoEarns {
  font-weight: 700;
  line-height: 84px;
}

/* ---------------------------------------------------------- employee.js ---------------------------------------------------------- */

.div-employee {
  width: 250px;
}

.internalDiv-salary {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.div-line {
  border-top: 1px solid white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  left: 5%;
  margin-bottom: 0px;
  bottom: 30%;
}

.triangleUp,
.triangleDown {
  border-style: solid;
  height: 0px;
  width: 0px;
  position: absolute;
  left: 69.5%;
}

.triangleUp {
  border-color: transparent transparent #2f80ed transparent;
  border-width: 0px 8px 15px 8px;
  top: 18.2%;
}

.triangleDown {
  border-color: #f2994a transparent transparent transparent;
  border-width: 15px 8px 15px 8px;
  top: 19.4%;
}

.blue,
.orange {
  color: white;
  font-size: 18px;
  margin-top: auto;
  position: relative;
}

.blue {
  background-color: #2f80ed;
}

.orange {
  background-color: #f2994a;
}

/* ---------------------------------------------------- employee.js and vsComp.js ---------------------------------------------------- */

.internalDiv-salary {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.empName {
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 500px;
}

/* ----------------------------------------------- employee.js and salaryDifference.js ----------------------------------------------- */

.div-difference {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100px;
}

/* ------------------------------------------------------------ vsComp.js ------------------------------------------------------------ */

.internalDiv-Vs {
  color: black;
  height: 300px;
  font-size: 18px;
  margin-top: auto;
  position: relative;
}

.div-Vs-line {
  border-top: 1px solid black;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* ------------------------------------------------------ salaryDifference.js ------------------------------------------------------ */

.span-difference {
  font-size: 18px;
  color: white;
}

/* ------------------------------------------------------- checkboxPerson.js ------------------------------------------------------- */

.div-checkboxPerson {
  display: flex;
  flex-wrap: wrap;
}

.div-edit {
  display: flex;
  flex-direction: row;
}

input[type="checkbox"] {
  margin-top: 5.5px;
}

/* ----------------------------------------------------------- editComp.js ----------------------------------------------------------- */

.button-edit {
  height: 20px;
  display: flex;
  flex-direction: row;
  border: transparent;
  background-color: transparent;
}

.edit {
  margin-top: 4px;
}

/* ----------------------------------------------------------- pencil.js ----------------------------------------------------------- */

.imgEdit {
  position: relative;
  border-radius: 100%;
  border: 2px solid #fdc733;
  filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.35));
  transform: rotate(100deg);
  margin-right: 3px;
  margin-top: 4px;
  width: 10px;
  height: 10px;
}

svg {
  position: absolute;
  left: 20%;
  top: 10%;
}

/* ------------------------------------------------------------ footer.js ------------------------------------------------------------ */

footer {
  background-color: black;
  grid-column-start: 1;
  grid-column-end: 3;
}

.p-footer {
  text-align: center;
  color: white;
}

/* ------------------------------------------------------------ update.js ------------------------------------------------------------ */

.button-back {
  position: absolute;
  left: 15.94%;
  top: 13%;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  color: #000000;
  background-color: transparent;
  border: transparent;
}

.button-back:hover {
  color: #0000008c;
}

.employeeName {
  position: absolute;
  left: 16.3%;
  top: 18%;
  font-weight: 700;
  font-size: 34px;
}

.editDetails {
  position: absolute;
  left: 16.4%;
  top: 30%;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  display: flex;
  align-items: flex-end;
  color: #333333;
}

.message {
  position: absolute;
  bottom: 15%;
  left: 16.45%;
  width: 147px;
  border: transparent;
  font-weight: 700;
  font-size: 17px;
  color: green;
}

/* ------------------------------------------------------------ updateForm.js ------------------------------------------------------------ */

.div-form {
  position: absolute;
  left: 17.5%;
  top: 38%;
  max-width: 800px;
  display: flex;
  flex-direction: row;
}

form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.button-update,
.button-cancel {
  width: 147px;
  height: 55px;
  border: transparent;
  font-weight: 700;
  font-size: 18px;
  color: white;
}

.button-update {
  position: absolute;
  margin-top: 28px;
  left: -4%;
  top: 100%;
  background-color: #2f80ed;
}

.button-update:hover {
  background: black;
}

.button-cancel {
  position: absolute;
  top: 110.8%;
  left: 42%;
  background: rgb(155, 155, 155);
}

.button-cancel:hover {
  background: black;
}

/* ------------------------------------------------------------ inputForm.js ------------------------------------------------------------ */

.div-inputs {
  display: flex;
  height: 52px;
  margin-right: 5px;
}

.div-inputs span {
  left: 16.98%;
  width: 180px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: flex-end;
  color: #000000;
  margin-bottom: 20px;
}

.input-details {
  width: 100%;
  height: 35px;
  margin-left: 25px;
  margin-top: 4px;
  background: #ffffff;
  box-shadow: inset -2px 2px 7px rgba(0, 0, 0, 0.28);
  border: transparent;
}

/* ------------------------------------------------------------ @media ------------------------------------------------------------ */

@media only screen and (max-width: 1220px) {
  .button-back {
    top: 8%;
  }

  .employeeName {
    top: 13%;
  }

  .editDetails {
    top: 27.5%;
  }
}

@media only screen and (max-width: 1097px) {
  .span-whoEarns {
    line-height: 50px;
  }
}

@media only screen and (max-width: 850px) {
  .body-main {
    display: flex;
    flex-direction: column-reverse;
  }
  .div-checkboxComp {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 585px) {
  .div-employee {
    width: 80px;
  }

  .div-Vs {
    width: 60px;
  }

  .internalDiv-salary {
    font-size: 14px;
  }

  .differenceSalary {
    font-size: 14px;
  }
  .differenceSalaryUp,
  .differenceSalaryDown {
    font-size: 14px;
  }

  .differenceSalaryUp {
    left: 23%;
  }

  .differenceSalaryDown {
    left: 18%;
  }

  .triangleUp {
    border-width: 0px 5px 10px 5px;
    top: 21%;
    left: 85%;
  }

  .triangleDown {
    border-width: 10px 5px 10px 5px;
    top: 21%;
    left: 85%;
  }

  .empName {
    font-size: 14px;
  }

  .yearlyIncome {
    line-height: 25px;
  }

  .compareEmployees {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 500px) {
  .div-checkboxComp {
    width: 90%;
  }
}

@media only screen and (max-width: 440px) {
  .text,
  .span-whoEarns {
    font-size: 35px;
    line-height: 62px;
  }
}

@media only screen and (max-width: 416px) {
  .div-date {
    top: 75%;
  }
}

@media only screen and (max-width: 392px) {
  .button-cancel,
  .button-update {
    width: 100px;
    height: 45px;
  }
}

@media only screen and (max-width: 350px) {
  .main {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 180px auto 50px;
  }

  .div-date {
    top: 60%;
  }
}

@media only screen and (max-width: 260px) {
  .employeeName {
    top: 16%;
    font-size: 25px;
  }
}
